<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="usuarios">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="empresas">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Empresas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="funcionarios">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Funcionarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
